 <div class="container">

                <div ng-if="list.data == 'No content'">
                    <h2>No Content to Display</h2>
                </div>

            <div class="row" ng-if="service.data !== 'No Content'">
                    <div class="col-sm-4 margin-bottom-2x pb-2">
                            <hr class="margin-bottom-1x">
                          <div class="card"><img class="card-img-top" src="img/components/img04.jpg" alt="Card image">
                            <div class="card-body row">
                              <h4 class="card-title">Prosper's Golden hands</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="col-9">
                                   Trafford Road, Manchester
                                </div><div class="col-3">
                                       <small>40p/hr</small></a>
                                    </div>
                             </div>
                            <div class="card-footer"> <a class="btn btn-primary btn-sm" href="{{baseurl}}">Book now</a></div>
                          </div>
                    </div>
            </div>

      <hr>
  </div>
  </div>