
    <div class="page-title">  <br />
      <br />
      <br />
      <br />
      <div class="container">
        <h1>Contacts</h1>
        <ul class="breadcrumbs">
          <li><a href="index.html">Home</a>
          </li>
          <li class="separator">&nbsp;/&nbsp;</li>
          <li>Contacts</li>
        </ul>
      </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-2x mb-2">
      <div class="row">
        <div class="col-md-7">
          <div class="display-3 text-muted opacity-75 mb-30">Customer Service</div>
        </div>
        <div class="col-md-5">
          <ul class="list-icon">
            <li> <i class="material-icons mail_outline text-muted"></i><a class="navi-link" href="mailto:customer.service@almondcareers.com">customer.service@almondcareer.com</a></li>
            <li> <i class="material-icons phone text-muted"></i>+1 (080) 44 357 260</li>
            <li> <i class="material-icons access_time text-muted"></i>1 - 2 business days</li>
          </ul>
        </div>
      </div>
      <hr class="margin-top-2x">
      <div class="row margin-top-2x">
        <div class="col-md-7">
          <div class="display-3 text-muted opacity-75 mb-30">Tech Support</div>
        </div>
        <div class="col-md-5">
          <ul class="list-icon">
            <li> <i class="material-icons mail_outline text-muted"></i><a class="navi-link" href="mailto:support@almondcareers.com">support@almondcareers.com</a></li>
            <li> <i class="material-icons phone text-muted"></i>00 33 169 7720</li>
            <li> <i class="material-icons access_time text-muted"></i>1 - 2 business days</li>
          </ul>
        </div>
      </div>
    </div>