<div class="page-title"><br />
      <br />
      <br />
      <br />
      <div class="container">
        <h1>My order</h1>
        <ul class="breadcrumbs">
          <li><a href="index.html">My Order</a>
          </li>
          <li class="separator">&nbsp;/&nbsp;</li>
          <li>Checkout</li>
        </ul>
      </div>
    </div>

         <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
            <div class="row">
              <!-- Checkout Address-->
              <div class="col-xl-9 col-lg-8">
                <h4>Details</h4>
                <hr class="padding-bottom-1x">
                <form >
                  <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="checkout-fn">Service Name</label>
                      <input class="form-control" type="text" id="checkout-fn" value="Massage" disabled="">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="checkout-ln">Merchant Name</label>
                      <input class="form-control" type="text" id="checkout-ln" value="Prosper's Golden Hands" disabled="">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="checkout-ln">Amount</label>
                      <input class="form-control" type="text" id="checkout-ln" value="500$" disabled="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="checkout-fn">First Name</label>
                      <input class="form-control" type="text" id="checkout-fn">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="checkout-ln">Last Name</label>
                      <input class="form-control" type="text" id="checkout-ln">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="checkout-email">E-mail Address</label>
                      <input class="form-control" type="email" id="checkout-email">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="checkout-phone">Phone Number</label>
                      <input class="form-control" type="text" id="checkout-phone">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="checkout-country">Country</label>
                      <select class="form-control" id="checkout-country">
                        <option>Choose country</option>
                        <option>Australia</option>
                        <option>Canada</option>
                        <option>France</option>
                        <option>Germany</option>
                        <option>Switzerland</option>
                        <option>USA</option>
                      </select>
                    </div>
                  </div><div class="col-sm-6">
                    <div class="form-group">
                      <label for="checkout-city">City</label>
                      <select class="form-control" id="checkout-city">
                        <option>Choose city</option>
                        <option>Amsterdam</option>
                        <option>Berlin</option>
                        <option>Geneve</option>
                        <option>New York</option>
                        <option>Paris</option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class="row">
                  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="checkout-zip">ZIP Code</label>
                      <input class="form-control" type="text" id="checkout-zip">
                    </div>
                  </div><div class="col-sm-6">
                    <div class="form-group">
                      <label for="checkout-address1">Address</label>
                      <input class="form-control" type="text" id="checkout-address1">
                    </div>
                  </div>

                </div>

                 <h4>Choose Payment Method</h4>
            <hr class="padding-bottom-1x">
            <div class="accordion" id="accordion" role="tablist">
                <div class="card">
                <div class="card-header" role="tab">
                    <h6><a href="#card" data-toggle="collapse"><i class="icon-columns"></i>Pay with Credit Card</a></h6>
                </div>
                <div class="collapse show" id="card" data-parent="#accordion" role="tabpanel">
                    <div class="card-body">
                    <p class="text-sm">We accept following credit cards:&nbsp;<img class="d-inline-block align-middle" src="img/cards.png" style="width: 187px;" alt="Cerdit Cards"></p>
                    <div class="card-wrapper"></div>
                    <div class="interactive-credit-card row">
                        <div class="form-group col-sm-6">
                        <input class="form-control" type="text" name="number" placeholder="Card Number" required>
                        </div>
                        <div class="form-group col-sm-6">
                        <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                        </div>
                        <div class="form-group col-sm-3">
                        <input class="form-control" type="text" name="expiry" placeholder="MM/YY" required>
                        </div>
                        <div class="form-group col-sm-3">
                        <input class="form-control" type="text" name="cvc" placeholder="CVC" required>
                        </div>
                        <div class="col-sm-6">
                        <button class="btn btn-outline-primary btn-block margin-top-none" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                    </div>
                </div>
                </div>
               
                
            </div>
                <hr class="padding-bottom-1x">
              </div>
              <!-- Sidebar -->
              
            </div>
          </div>

      <hr>
    </div>